body {
    text-align: justify;
}

/* blue */
.theme-bm .sidebar {
  background-color: #0085ed;
}
.theme-bm .content a,
.theme-bm .related-posts li a:hover {
  color: #0085ed;
}


.sidebar-about .lead{
    font-size: 1em;
}

body div.sidebar a:hover,
body div.sidebar a:focus,
a:hover, a:focus {
  text-decoration: none !important;
  color: #FFC720 !important;
}

.page-title {
    font-family: 'Gloria Hallelujah', cursive;
    color: #0085ed;
}

.license {
    padding-top: 3em;
    font-size: .6em;
}

p.copyright {
    font-size: .9em;
}
.version {
    font-size: .6em;
    font-style: italic;
}

.sidebar-nav-item.active::before {
  content: " >> ";
}
.sidebar-nav-item.active::after {
  content: " << ";
}

.tutos-list {
    list-style: none;
    padding-left: 30px;
    border-left: 4px solid #eee;
}
.tutos-list > li {
    margin-bottom: 13px;
}

.tutos-list .post-title {
    font-size: 1.5em;
}

.tuto-meta {
    font-style: italic;
    font-size: .8em;
    color: #777;
}

img{
    display: block;
    margin:auto;
}

img.licorne {
    max-width: 60vh;
}

/* Blue theme links darker */
